<section class="component">
    <ur-heading size="medium">{{ 'sidebar-items.keyence-vs-series-vs-sidebar.title' | translate }}</ur-heading>

    <div class="status">
        <ur-helper-message
            [type]="reachabilityMessageType"
            [message]="reachabilityLabel"
            [attr.data-testid]="'vs_sidebar_reachability'"
        ></ur-helper-message>
    </div>

    @if (address) {
        <span class="ur-font-body-small color-font-secondary">{{ address }}</span>
    }
</section>
